body { 
  font-family: Arial; 
  text-align: center; 
  background: #f0f8ff; 
}
h1 { font-size: 80px; }
p { font-size: 40px; }

#options { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}
button.option { 
  font-size: 100px; 
  padding: 50px 30px; 
  margin: 20px; 
  cursor: pointer; 
  background-color: #d3d3d3; 
  color: black; 
  border: none; 
  border-radius: 20px; 
  transition: 0.2s; 
  display: block; 
  width: 80%; 
  line-height: 1.5em; 
  word-break: break-word; 
  text-align: center; 
}
button.option.selected { 
  background-color: #1E90FF; 
  color: white; 
  margin-left: auto; 
  margin-right: auto; 
}

#score, #feedback { font-size: 42px; margin-top: 25px; }

#restart, #replay { 
  font-size: 40px; 
  padding: 20px 50px; 
  border-radius: 20px; 
  margin: 10px; 
}
#restart { background-color: #FF6347; color: white; }
#restart:hover { background-color: #FF4500; }
#replay { background-color: #32CD32; color: white; }
#replay:hover { background-color: #228B22; }
